<%= l(:redmine_status_new_update_plural) %> <%= format_time(h(@last_updated_at)) if @last_updated_at %>:

<% @statuses.each do |status| %>
----------
<%= h status.user.name if status.user %>:

<%= h status.message %>

<% end %>

----------
