<p><%= l(:redmine_status_new_update_plural) %> <%= format_time(h(@last_updated_at)) if @last_updated_at %>:</p>

<% @statuses.each do |status| %>
<hr />
<p class="status_name"><%= h status.user.name if status.user %>:</p>

<p class="status_message"><%= h status.message %></p>

<% end %>

<hr />

