<div id="add-status" style="display:none;">
  <h2>Update your status</h2>
  <% labelled_tabular_form_for :status, @status, :url => { :controller => 'statuses', :action => 'create', :id => @project}, :html => {:id => 'status'} do |f| %>
    <div class="box tabular">
      <p><%=f.text_field :message, :label => "Message", :size => 60, :required => true %></p>
      <% unless @project %>
      <p><%=f.select :project_id, projects_with_create_status_permission.collect{|p| [p.name, p.id]}, :label => "Project", :required => true %></p>
      <% end %>
    </div>
    <%= submit_tag l(:button_save) %> <%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-news")' %>
  <% end %>
</div>
