.status_user { font-weight: bold; }
.status_message p { display: inline; }
.time { font-weight: normal; font-size: 0.9em; }
img.gravatar { float:left; margin: 0 10px 0 0;}
.smaller_project {font-size: 80%;}
.icon-news { background-image: url(../../../images/news.png); }
.icon-search { background-image: url(../images/magnifier.png); }

#tag_cloud {text-align: center; font-size: 200%;}
#tag_cloud .bank1 {font-size: 0.2em;}
#tag_cloud .bank2 {font-size: 0.4em;}
#tag_cloud .bank3 {font-size: 0.6em;}
#tag_cloud .bank4 {font-size: 0.8em;}
#tag_cloud .bank5 {font-size: 1.0em;}
#tag_cloud .bank6 {font-size: 1.2em;}
#tag_cloud .bank7 {font-size: 1.4em;}
#tag_cloud .bank8 {font-size: 1.6em;}
#tag_cloud .bank9 {font-size: 1.8em;}
#tag_cloud .bank10 {font-size: 2.0em;}
